<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name, :value => (current_user.name if @comment.name.blank? && current_user) %>
</p> 
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email, :value => (current_user.email if @comment.email.blank? && current_user) %>
</p>
<p>
  <%= f.label :website %><br />
  <%= f.text_field :website %>  
</p>
<p>
  <%= f.label :body %><br />
  <%= f.text_area :body %>  
</p>
<p>
  <% question = Comment.random_spam_question -%>
  <%= question['question'] %> (required)<br />
  <input name="comment[spam_answer]" id="comment_spam_answer" type="text" />
  <input name="comment[spam_question_id]" id="comment_spam_question_id" type="hidden" value="<%= question['id'] %>" />
</p>
<p>
   <%= f.submit label %>   
</p>