<a name="comment-<%= comment.id %>"></a>
<ul>
  <% if comment.user -%>
  <li>user: <%= link_to h(comment.user.name), blog_user_path(@blog, comment.user) %></li>
  <% else -%>
  <li>name: <%= h comment.name %></li>                                                     
  <% end %>
  <li>date: <%= comment.created_at %></li> 
  <li>email: <%= h(comment.user ? comment.user.email : comment.email)%></li>
  <li>website: <%= link_to h(comment.website), comment.website %></li>
  <li>body: <%= h comment.body %></li>                                                                 
  <% unless @post -%>
  <li>made on post: <%= link_to h(comment.post.title), url_for(comment.post.permalink_url(:anchor => "comment-#{comment.id}")) -%></li>
  <% end -%>
</ul>
<hr/>