<%= f.error_messages %>     

<p>
  <%= f.label :name %> (required)<br />
  <%= f.text_field :name, :value => (h(current_user.name) if @comment.name.blank? && current_user) %>
</p> 
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email, :value => (h(current_user.email) if @comment.email.blank? && current_user) %>
</p>
<p>
  <%= f.label :website %><br />
  <%= f.text_field :website %>
</p>
<p>
  <%= f.label :body %> (required)<br />
  <%= f.text_area :body %>  
</p> 
<p>
  <%= f.submit "Add new comment" %>
</p>