<h1><%= h @blog.title %> tags<%= "#{(@user.nil? ? '' : " by #{h(@user.name)}")}" %></h1>

<table>
  <tr>
    <th>Name</th> 
  </tr>

<% for tag in @tags %>
  <tr>
    <td><%= link_to(h(tag.name), admin_blog_tag_path(@blog, tag)) %> (<%= tag.blog_taggings_count(@blog) -%> times)</td>
  </tr>
<% end %>
</table> 

<p><%= will_paginate @tags %></p>