<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th> 
    <th>Comments</th>
    <th>Publish date</th>
    <th>In draft</th> 
    <th>author</th>
  </tr>

<% for post in @posts %>
  <tr>
    <td><%=h post.title %></td>
    <td><%= post.comments.length == 0 ? post.comments.length : link_to(post.comments.length, admin_post_comments_path(post)) %></td>
    <td><%=h post.publish_date %></td>
    <td><%=h post.in_draft %></td>       
    <td><%=link_to(h(post.user.name), admin_user_path(post.user)) if post.user %></td>       
    <td><%= link_to 'Show', admin_post_path(post) %></td>   
    <td><%= link_to 'Comments', admin_post_comments_path(post) %></td>  
    <td><%= link_to 'Edit', edit_admin_post_path(post) %></td>
    <td><%= link_to 'Destroy', admin_post_path(post), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table> 

<p><%= will_paginate @posts %></p>

<br />

<%= link_to 'New post', new_admin_post_path %>
