<h1><%= h @post.blog.title %> post</h1>
<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>                                   

<p>
  <b>By User:</b>
  <%=link_to(h(@post.user.name), admin_user_path(@post.user)) if @post.user %>
</p>

<p>
  <b>Permalink:</b>
  <%=link_to url_for(@post.permalink_url), url_for(@post.permalink_url) %>
</p>

<p>
  <b>Publish date:</b>
  <%=h @post.publish_date.to_s(:long) %>
</p>

<p>
  <b>Summary:</b>
  <%=h @post.summary %>
</p>

<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>

<p>
  <b>Body formatted:</b>
  <%= @post.body_formatted %>
</p>

<p>
  <b>Tagged with:</b>
  <ul>
  <% @post.tags.each do |tag| -%>
    <li><%= link_to h(tag.name), admin_blog_tag_path(@post.blog, tag) %></li>
  <% end -%>
  </ul>
</p>

<p>
  <b>In draft:</b>
  <%=h @post.in_draft %>
</p> 
 
<hr/>

<% unless @post.comments.empty? %>
  <h3><%= pluralize(@post.comments.length, 'Comment') %> </h3>
  <%= render :partial => 'admin/comments/comment', :collection => @post.comments -%>
<% end %>                                                                     
<p><%= link_to 'manage post comments', admin_blog_post_comments_path(@post.blog, @post) %> | <%= link_to('+ add new comment', new_admin_blog_post_comment_path(@post.blog, @post)) %></p>



<%= link_to 'Edit', edit_admin_blog_post_path(@post.blog, @post) %> |
<%= link_to 'Back', admin_blog_posts_path(@post.blog) %>
