<h1>Listing uploads</h1>

<table>
<% for upload in @uploads %>
  <tr>
    <td><%= image_tag upload.asset.url(:thumb) if upload.asset %></td>
    <td><%= link_to 'Show', admin_blog_upload_path(@blog, upload) %></td>
  </tr>
<% end %>
</table>
<p><%= will_paginate @uploads %></p>

<h1>New upload</h1>

<% form_for [:admin, @blog, @upload], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.file_field :asset %>
  </p>
  <p>
    <%= f.submit "Upload" %>
  </p>
<% end %>

<%= link_to 'Back', admin_blog_uploads_path(@blog) %>

<br />

