<h1>Uploaded Files</h1>

<ul id="files">
<% for upload in @uploads %>
  <li>
    <%= link_to((image_tag(upload.asset.url(:thumb))), admin_blog_upload_path(@blog, upload)) if upload.asset %><br/>
    <%= link_to truncate_filename(h(upload.asset_file_name)), admin_blog_upload_path(@blog, upload)%>
  </li>
<% end %>
</ul>


<p style="clear:both;"><%= will_paginate @uploads %></p>

<h2>Upload a new file</h2>

<% form_for [:admin, @blog, @upload], :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.file_field :asset, :onchange => 'submit()' %>
  </p>
<% end %>