<h1><%= "#{h(@blog.title)} uploaded files#{(@user.nil? ? '' : " by #{h(@user.name)}")}" %></h1>

<ul id="files">
<% for upload in @uploads %>
  <li>
    <span>
    <% if Paperclip::Attachment.thumbnailable?(upload.asset_content_type) -%>
      <%= link_to((image_tag(upload.asset.url(:thumb))), admin_blog_upload_path(@blog, upload)) %>
    <% else -%>
      <%= link_to((image_tag('admin/mime_types/generic.gif')), admin_blog_upload_path(@blog, upload)) %>
    <% end %>
    </span>
    <%= link_to truncate_filename(h(upload.asset_file_name)), admin_blog_upload_path(@blog, upload)%>
  </li>
<% end %>
</ul>


<p style="clear:both;"><%= will_paginate @uploads %></p>

<% if @user -%>
  <p><%= link_to("upload new file to #{h(@blog.title)}", admin_blog_uploads_path(@blog)) %></p>
<% else -%>
  <h2>Upload a new file</h2>

  <% form_for [:admin, @blog, @upload], :html => { :multipart => true } do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.file_field :asset, :onchange => 'submit()' %>
    </p>
  <% end %>
<% end -%>