<h1><%= h(@upload.asset_file_name) %></h1>
<p>
  <%= link_to 'show original', @upload.asset.url, :target => '_blank' %>
  or 
  <input id="copy_button" onclick="copyToClipboard('http://<%= "#{request.host_with_port}#{@upload.asset.url}" %>');;" type="button" value="copy file URL" />
  <span id="copied_message" style="display:none;">OK url ready for pasting!</span>
  or
  <%= link_to 'delete?', admin_blog_upload_path(@blog, @upload), :confirm => 'Are you sure?', :method => :delete, :class => 'trashcan' %>
</p>


<p>
  <% if Paperclip::Attachment.thumbnailable?(@upload.asset_content_type) -%>
    <%= link_to image_tag(@upload.asset.url(:preview)), @upload.asset.url, :target => '_blank' %>
  <% else -%>
    <%= link_to image_tag('admin/mime_types/generic.gif'), @upload.asset.url, :target => '_blank' %>
  <% end %>
</p>

<p>
  <%= number_to_human_size(@upload.asset_file_size) %> uploaded by <%=link_to(h(@upload.user.name), admin_user_path(@upload.user)) if @upload.user %> on <%= @upload.created_at.to_s(:long) %>
</p>

<p>
  
</p>


<%= link_to 'Back', admin_blog_uploads_path(@blog) %>