<h1><%= h(@upload.asset_file_name) %></h1>
<p><%= number_to_human_size(@upload.asset_file_size) %></p>
<p><%= link_to 'show original', @upload.asset.url, :target => '_blank' %> | <%= link_to 'delete?', admin_blog_upload_path(@blog, @upload), :confirm => 'Are you sure?', :method => :delete %></p>
<p><%= @upload.asset.url %></p>
<p>
  <%= image_tag @upload.asset.url(:preview) if @upload.asset %>
</p>

<p>
  added by <%=link_to(h(@upload.user.name), admin_user_path(@upload.user)) if @upload.user %> on <%= @upload.created_at.to_s(:long) %>
</p>

<p>
  
</p>


<%= link_to 'Back', admin_blog_uploads_path(@blog) %>
