<h1>User, <%=h @user.name %></h1>
<%= image_tag @user.photo.url(:thumb) if @user.photo %>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Created Blogs:</b>
  <%= @user.created_blogs.length == 0 ? @user.created_blogs.length : link_to(@user.created_blogs.length, admin_user_blogs_path(@user)) %>
</p>

<p>
  <b>Created Posts:</b>
  <%= @user.posts.length == 0 ? @user.posts.length : link_to(@user.posts.length, admin_user_posts_path(@user)) %>
</p>

<p>
  <b>Created Comments:</b>
  <%= @user.comments.length == 0 ? @user.comments.length : link_to(@user.comments.length, admin_user_comments_path(@user)) %>
</p>

<p>
  <b><%=h @user.name %> posted in these blogs:</b>
  <ul>
  <% @user.blogs.each do |blog|
    blog_posts_count = blog.posts.by_user(@user).length
    blog_comments_count = blog.comments.by_user(@user).length
    blog_tags_count = blog.tags.by_user(@user).length
    -%>
    <li><%= link_to h(blog.title), admin_blog_path(blog) %> 
    (
      posted <%= blog_posts_count == 0 ? "nothing" : link_to("#{blog_posts_count} times", admin_blog_user_posts_path(blog, @user)) %> |
      commented <%= blog_comments_count == 0 ? "nothing" : link_to("#{blog_comments_count} times", admin_blog_user_comments_path(blog, @user)) %> |
      tagged <%= blog_tags_count == 0 ? "nothing" : link_to("#{blog_tags_count} items", admin_blog_user_tags_path(blog, @user)) %>
    )
    </li>
  <% end -%>
  </ul>
</p>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>

