<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :short_name %><br />
  <%= f.text_field :short_name %>
</p>
<p>
  <%= f.label :in_draft %><br />
  <%= f.check_box :in_draft %>
</p>
<p>
  <%= f.submit label %>
</p>