<h1><%= " Blogs#{(@user.nil? ? '' : " by #{h(@user.name)}")}" %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Short name</th>
    <th>Created By</th>
    <th># Posts</th>
    <th># Comments</th>
    <th># Users</th> 
    <th># Tags</th> 
    <th># Uploads</th> 
  </tr>

<% for blog in @blogs %> 
  <tr>
    <td><%= link_to h(blog.title), admin_blog_posts_path(blog) %></td>
    <td><%=h blog.short_name %></td>
    <td><%= link_to h(blog.creator.name), admin_user_path(blog.creator) if blog.creator %></td>
    <td><%= blog.posts.length == 0 ? link_to('add', admin_blog_posts_path(blog)) : link_to(blog.posts.length, admin_blog_posts_path(blog)) %></td>
    <td><%= blog.comments.length == 0 ? blog.comments.length : link_to(blog.comments.length, admin_blog_comments_path(blog)) %></td>
    <td><%= blog.users.length == 0 ? blog.users.length : link_to(blog.users.length, admin_blog_users_path(blog)) %></td>
    <td><%= blog.tags.length == 0 ? blog.tags.length : link_to(blog.tags.length, admin_blog_tags_path(blog)) %></td>
    <td><%= blog.uploads.length == 0 ? link_to('add', admin_blog_uploads_path(blog)) : link_to(blog.uploads.length, admin_blog_uploads_path(blog)) %></td>
    <td><%= link_to 'Show', admin_blog_path(blog) %></td>
    <td><%= link_to 'Edit', edit_admin_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', admin_blog_path(blog), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>       

<p><%= will_paginate @blogs %></p>   

<br />

<%= link_to '+ add new blog', new_admin_blog_path %>
