<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" >
    <title>Blog Admin</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/admin.css">
  </head>
  <body>

  <h2>Menu</h2>
  <ul>                         
    <li><%= link_to 'blogs', admin_blogs_path %></li> 
    <li><%= link_to 'users', admin_users_path %></li>    
  </ul>
  <ul>
    <li><%= link_to 'all posts', admin_posts_path %></li>
    <li><%= link_to 'all comments', admin_comments_path %></li>
    <li><%= link_to 'all tags', admin_tags_path %></li>
  </ul>
  <hr/>
  <p style="color: green"><%= flash[:notice] %></p>

  <%= yield  %>   

  <hr/>
  <p><small>you are logged in as <strong><%= link_to h(@current_user.name), admin_user_path(@current_user) %></strong> - <%= link_to @current_user.email, "mailto:#{@current_user.email}" %> (<a href="/logout">logout</a>) | <a href="/">public site</a></small></p>
  </body>
</html>